{% extends 'base.html.twig' %}

{% block title %}Užduotis Lenndy{% endblock %}

{% block body %}
  {% if articles %}
    <table id="articles" class="table table-striped">
      <thead>
        <tr>
          <th>Dalyvio vardas ir pavardė</th>
          <th>Veiksmai</th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
          <tr>
            <td>{{ article.title }}</td>
            <td>
              <a href="/article/{{ article.id }}" class="btn btn-dark">Plačiau</a>
              <a href="/article/edit/{{ article.id }}" class="btn btn-light">Redaguoti</a>
              <a href="#" class="btn btn-danger delete-article" data-id="{{ article.id }}">Ištrinti</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Nėra užsiregistravusių dalyvių.</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}
